<!DOCTYPE html>
<html ng-app="clienteModule">
<head>
	<meta-charset="utf-8">
	<title>Cliente</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<script src="js/angular.min.js"></script>
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/ui-bootstrap-tpls-0.14.1.min.js"></script>
	<script src="control/clienteControl.js"></script>
</head>
<body ng-controller="clienteControl">
	<div ng-include="'menu.html'"></div>
	<div class="panel panel-default">
		
		        
    
		<div class="panel-heading">Cadastro de cliente</div>
		<div class="panel-body">
			<div>
			  <!-- Nav tabs -->
			  <ul class="nav nav-tabs" role="tablist">
			    <li role="presentation" class="active">
			    	<a href="#cadastro" aria-controls="cadastro" role="tab" data-toggle="tab">Cadastro</a>
			    </li>
			    <li role="presentation">
			    	<a href="#dados" aria-controls="dados" role="tab" data-toggle="tab">Dados</a>
			    </li>
			  </ul>
			  <!-- Tab panes -->
			  <div class="tab-content">
			    <div role="tabpanel" class="tab-pane active" id="cadastro">					
			    	<form name="clienteForm" class="css-form" ng-submit="clienteForm.$valid && salvar()" novalidate>
				    	<br>
						<span ng-repeat="mensagem in mensagens">{{mensagem}}<br></span>
						<div ng-show="clienteForm.$submitted">
						     <div ng-show="clienteForm.nome.$error.required">Preencha o nome</div>
	      				     <div ng-show="clienteForm.nome.$error.minlength">Nome precisa ter pelo menos 10 caracteres</div>
	      				     <div ng-show="clienteForm.cargo.$error.required">Preencha o cargo</div>
	      				     <div ng-show="clienteForm.endereco.$error.required">Preencha o Endereço</div>
	      				     <div ng-show="clienteForm.endereco.$error.minlength">Endereço precisa ter pelo menos 10 caracteres</div>
	      				     <div ng-show="clienteForm.cidade.$error.required">Preencha a cidade</div>
	      				     <div ng-show="clienteForm.pais.$error.required">Preencha o país</div>
	      				     <div ng-show="clienteForm.cep.$error.required">Preencha o Cep</div>
	      				     <div ng-show="clienteForm.cep.$error.pattern">Cep deve seguir o padrão 00000-000</div>
	    				</div>    				
						<br>
						<button type="button" class="btn btn-info" ng-click="novo()">Novo</button>
						<button type="submit" class="btn btn-success">Salvar</button>
						<button type="button" class="btn btn-danger" ng-click="excluir()">Excluir</button>
						<button type="button" class="btn btn-warning" ng-click="pesquisar()">Pesquisar</button>
						<hr/>
					  <div class="form-group col-md-2">
					    <label for="exampleInputCodigo">Codigo</label>
					    <input type="number" disabled="true" class="form-control" ng-model="cliente.codigo" placeholder="Codigo">
					  </div>
					  
					  <div class="form-group col-md-6">
					    <label for="exampleInputNome">Nome</label>
					    <input type="text" class="form-control" ng-model="cliente.nome" name="nome" placeholder="Insira o Nome" required="" ng-minlength="10" />
					  </div>					  					  
					  
					  <div class="form-group col-md-4">
					    <label for="exampleInputCargo">Cargo</label>
					    <input type="text" class="form-control" ng-model="cliente.cargo" name="cargo" placeholder="Insira o Cargo" required="">
					  </div>

					  <div class="form-group col-md-6">
					    <label for="exampleInputEndereco">Endereco</label>
					    <input type="text" class="form-control" ng-model="cliente.endereco" name="endereco" placeholder="Insira o Endereco" required="" ng-minlength="10">
					  </div>

					  <div class="form-group col-md-4">
					    <label for="exampleInputCidade">Cidade</label>
					    <input type="text" class="form-control" ng-model="cliente.cidade" name="cidade" placeholder="Insira a Cidade" required="">
					  </div>

					  <div class="form-group col-md-2">
					    <label for="exampleInputCep">Cep</label>
					    <input type="text" class="form-control" ng-model="cliente.cep" name="cep" placeholder="Insira o Cep" ng-pattern="/^(\d{5}-\d{3})$/" required="">
					  </div>

					  <div class="form-group col-md-14">
					    <label for="exampleInputPais">Pais</label>
					    <input type="text" class="form-control" ng-model="cliente.pais" name="pais" placeholder="Insira o Pais" required="">
					  </div>
					  
					  <div class="form-group col-md-14">
					  	<h4>Telefones</h4>
					    <div class="form-group col-md-2">
					    	<label for="exampleInputNumero">Numero</label>
					    	<input type="text" class="form-control" ng-model="telefone.numero" name="telefone" placeholder="Insira o Telefone">
					  	</div>
					  	<div class="form-group col-md-2">
					    	<label for="exampleInputTipo">Tipo</label>
					    	<select class="form-control" 
								    ng-model="telefone.tipo">
								    <option>CELULAR</option>
								    <option>RESIDENCIAL</option>
								    <option>COMERCIAL</option>
								    <option>FAX</option>
							</select>				            
					  	</div>
					  	<hr/>
					  	<button type="button" class="btn btn-danger" ng-click="salvarTelefone()">Salvar</button>
						<button type="button" class="btn btn-warning" ng-click="excluirTelefone()">Excluir</button>
						<hr/>
					  	<table class="table table-hover">
			    		<th>Número</th><th>Tipo</th>

			    		<tr ng-repeat="telefoneTabela in cliente.telefones" ng-click="selecionaTelefone(telefoneTabela);">
			    			<td>{{telefoneTabela.numero}}</td><td>{{telefoneTabela.tipo}}</td>
			    		</tr>
					</table>
					  </div>
					  
					</form>
			    </div>
			    <div role="tabpanel" class="tab-pane" id="dados">
				<br>
				<input type="text" class="form-control" ng-model="criterio" 
				placeholder="O que voce esta procurando?" /><br>
			    	<table class="table table-hover">
			    		<th>Codigo</th><th>Nome</th><th>Cargo</th><th>Endereco</th><th>Cidade</th><th>CEP</th><th>Pais</th>

			    		<tr ng-repeat="clienteTabela in clientes | filter:criterio" ng-click="seleciona(clienteTabela);">
			    			<td>{{clienteTabela.codigo}}</td><td>{{clienteTabela.nome}}</td><td>{{clienteTabela.cargo}}</td><td>{{clienteTabela.endereco}}</td>
			    			<td>{{clienteTabela.cidade}}</td><td>{{clienteTabela.cep}}</td><td>{{clienteTabela.pais}}</td>
			    		</tr>
					</table>
			    </div>
			  </div>
			</div>
		</div>
	</div>
</body>
</html>